<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="OneCatalog_Import::main" title="OneCatalog" translate="title" module="OneCatalog_Import" sortOrder="80" resource="OneCatalog_Import::main"/>
        <add id="OneCatalog_Import::import" title="Import" translate="title" module="OneCatalog_Import" sortOrder="10" parent="OneCatalog_Import::main" action="onecatalog/import/index" resource="OneCatalog_Import::import"/>
        <add id="OneCatalog_Import::config" title="Settings" translate="title" module="OneCatalog_Import" sortOrder="50" parent="OneCatalog_Import::main" action="adminhtml/system_config/edit/section/onecatalog" resource="OneCatalog_Import::config"/>
    </menu>
</config>
